@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string imageclass = string.Format("{0}.png", currentController);
}
@section PageScript{
    <script type="text/javascript">
        $(document).ready(function () {
            var currentController = '@currentController';
            $('.admin-menu-container li').removeClass('selected-menu');
            $('.admin-menu-container li a[data-link="{0}"]'.format(currentController)).parent('li').addClass('selected-menu');
        });
    </script>
    @Scripts.Render("~/Scripts/Grid")
    @RenderSection("AdimnPageScript", false)
}
@section PageStyle{
    @Styles.Render("~/Styles/Admin")
    @RenderSection("AdimnPageStyle", false)
}

<div class="admin-container">
    <div class="admin-menu-container">
        <span style="background:url('../Areas/Admin/Styles/Images/@imageclass') no-repeat left;">@System.Text.RegularExpressions.Regex.Replace(currentController, "([a-z])([A-Z])", "$1 $2")</span>
        <ul>
            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Admin" }, new { data_link = "Dashboard" })</li>
            <li>@Html.ActionLink("Order Manager", "Index", "OrderManager", new { area = "Admin" }, new { data_link = "OrderManager" })</li>
            <li>@Html.ActionLink("Payment Manager", "Index", "PaymentManager", new { area = "Admin" }, new { data_link = "PaymentManager" })</li>
            <li>@Html.ActionLink("Testimonial", "Index", "TestimonialManager", new { area = "Admin" }, new { data_link = "TestimonialManager" })</li>
            <li>@Html.ActionLink("Customer Manager", "Index", "CustomerManager", new { area = "Admin" }, new { data_link = "CustomerManager" })</li>
        </ul>
    </div>
    <div class="admin-body-container">
        @RenderBody()
    </div>
</div>