@using Keystone.Web.Models
@model TemplateModel
@{
    //ViewBag.Title = "Price Summary";
    //Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section PageScript{
    <script type="text/javascript">
        $(document).ready(function () {
            var templateId = $('#templateid').val();
            //alert(templateId);
            if (templateId) {
                sessionStorage.setItem('SELECTED_TEMPLATE_ID', parseInt(templateId));

                sessionStorage.setItem('SELECTED_TEMPLATE_DELIVERY_{0}'.format(templateId), parseInt($('input[name="DeliveryScheduleId"]:checked').val()));
                sessionStorage.setItem('SELECTED_TEMPLATE_QUANTITY_{0}'.format(templateId), parseInt($('#Quantity option:selected').val()));
                sessionStorage.setItem('SELECTED_TEMPLATE_PRICE_{0}'.format(templateId), parseFloat($('.rate_oftotal').html().replace('$', '')));
            }
        });

        $(document).on('change', '#Quantity, input[name="DeliveryScheduleId"]', function () {
            try {
                var templateId = sessionStorage.getItem('SELECTED_TEMPLATE_ID');
                var quantity = $('#Quantity option:selected').val();
                var deliveryId = $('input[name="DeliveryScheduleId"]:checked').val();
                GetTemplatePrice(templateId, deliveryId, quantity, $('.rate_oftotal'));
            } catch (ex) {
                console.log(ex);
            }
        });
    </script>
}
@Html.Partial("_NavBar")

@{Html.RenderPartial("_Templates", (IEnumerable<TemplateModel>)ViewBag.Templates);}
<div class="body_part_inner">
    <div class="left_price">
        <h2><span class="color">@Model.TemplateTitle - </span>@Model.TemplateCode</h2>
        <ul class="left_partlist">
            @foreach (string line in Model.TemplateDesc.Split('#'))
            {
                <li>@line.ToString()</li>
            }
        </ul>
        <div class="left_image">
            <img src='@Url.Content(string.Format("~/Templates/{0}/Thumbnail.png", Model.TemplateId))' alt="" />
        </div>
    </div>
    @Html.Partial("_StatusNavigation", new ViewDataDictionary { { "Page", "PriceSummary" } })
    <div class="right_part_inner">
        <div class="rate_chart">
            <div class="heading_price">
                <h2>Price Summary</h2>
            </div>
            <div class="form_rate">
                @{Html.RenderPartial("_DeliverySchedule", (List<DeliveryScheduleModel>)ViewBag.DeliverySchedule);}
                <div class="name">Quantity</div>
                @Html.DropDownList("Quantity", (SelectList)ViewBag.Quantity, new { @class = "quantity_field" })
            </div>
            <div class="total_rate">
                <div class="rate_cost">Estimated Cost</div>
                <div class="rate_oftotal">@ViewBag.Price</div>
            </div>
            <a href='@Url.Action("GoToEditor", "PriceSummary", new { templateid = Model.TemplateId })'>
                <input type="button" class="price_btn" value="CUSTOMIZE YOUR MATERIAL NOW" />
            </a>
        </div>
    </div>
</div>
@if (ViewBag.TemplateId != null)
{
    @Html.Hidden("templateid", (object)ViewBag.TemplateId)
}