@using Keystone.Web;
@using Keystone.Web.Utilities;
@using System.Configuration;
@using System.Web.Optimization;
@{
    int? userId = CommonUtility.GetSessionData<int?>(SessionVariable.UserId);
    bool? isAdminUser = CommonUtility.GetSessionData<bool?>(SessionVariable.IsAdminUser);
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="http://www.keystoneind.com/sites/all/files/keystone_favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
        var loadingCounter = 0;
        var virtualDirectory = '@ConfigurationManager.AppSettings["VirtualDirectory"].ToString()'
    </script>
    @Styles.Render("~/Styles/Common")
    @Scripts.Render("~/Scripts/Common")

    @RenderSection("PageStyle", false)
    @RenderSection("PageScript", false)

    <script type="text/jscript" language="javascript">
        function noBack() { window.history.forward(); }

        $(document).ready(function () {
            try {
                $(window).load(function () {
                    $('.loading-overlay').fadeOut('slow', function () {
                        $('body').css({ 'overflow': 'auro' });
                    });
                });

                sessionStorage.setItem('IDENTITY', '@Session.SessionID');
                $('body').css({ 'overflow': 'hidden' });

                HandleSessionTimeout('Yes, Keep Working', 'No, Logoff', parseInt('@((Session.Timeout - 0.5) * 60)'));
            } catch (ex) {
                console.log(ex);
            }
        });
    </script>
</head>
<body>
    @Html.Partial("_SignIn")
    <div class="loading-overlay">
        <img src="@Url.Content("~/Styles/Images/loadingAnimation.gif")" alt="Loading ..." />
    </div>
    <div id="dialog-message" title="Message" style="display: none;">
        <p></p>
    </div>
    <div id="dataloading" class="data_loading">
        <div class="loading-image"></div>
        <div class="loading-text"></div>
    </div>
    <div id="wrapper">
        <div id="header">
            <div id="masthead">
                <div id="access" role="navigation">
                    <h1 class="logo">
                        <a href="#">
                            <img src='@Url.Content("~/Styles/Images/logo.png")' alt="" />
                        </a>
                    </h1>
                    @if (userId.HasValue)
                    {
                        <div class="logout">
                            <ul>
                                @if (isAdminUser.HasValue && isAdminUser.Value)
                                {
                                    <li>
                                        @Html.ActionLink("Go To Admin", "Index", "Dashboard", new { area = "Admin" }, null)
                                    </li>
                                }
                                <li>
                                    @Html.ActionLink("Logout", "SignOutUser", "UserAccount", new { area = "" }, null)
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="logout">
                            <ul>
                                <li><a href="javascript:void(0);" onclick="showSignInPopup(this)">SignIn</a></li>
                            </ul>
                        </div>
                    }

                    <div class="nav">
                        <ul>
                            <li><a href="http://www.keystoneind.com/en/home">Home</a></li>
                            <li><a href="http://www.keystoneind.com/en/product-categories">Product Categories</a></li>
                            <li><a href="http://www.keystoneind.com/en/learning-center">Learning Center</a></li>
                            <li><a href="http://www.keystoneind.com/en/msds">MSDS</a></li>
                            <li><a href="http://www.keystoneind.com/en/news-and-events">News and Events</a></li>
                            <li><a href="http://www.keystoneind.com/en/contact_us">Contact Us</a></li>
                            <li><a href="http://www.keystoneind.com/en/about-us">About Us</a></li>
                            <li class="customlink">
                                <a href='@Url.Action("Index", "Home", new { area = "" }, null)'>
                                    Custom
                                    <br />
                                    Marketing Materials
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div id="container">
            <div id="content" role="main">
                <div class="main_body">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div id="footer" role="contentinfo">
            <div id="colophon">
                <div class="footer">
                    <div class="footer_first">
                        <h1>EU Contact:</h1>
                        <p>
                            Keystone Industries GmbH<br />
                            Werner-von-Siemens Str. 14a<br />
                            D-78224 Singen, Germany
                        </p>
                        <p>
                            <span class="color_new">T:</span> +49 77 31 91 21 01<br />
                            <span class="color_new">F:</span> +49 77 31 91 21 02
                        </p>
                    </div>
                    <div class="footer_first">
                        <h1>US Contact:</h1>
                        <p>
                            Keystone Industries<br />
                            616 Hollywood Avenue<br />
                            Cherry Hill NJ 08002
                        </p>
                        <p>
                            <span class="color_new">T:</span> (856) 663-4700<br />
                            <span class="color_new">Free:</span> (800) 333-3131<br />
                            <span class="color_new">F:</span> (856) 663-0381
                        </p>
                    </div>
                    <div class="footer_second">
                        <h1>KEYSTONE BLOG:</h1>
                        <p>Posted on December 06, 2013</p>
                        <h3>Is Saving A Tooth Better Than Dental Implant?</h3>
                        <a href="http://keystoneind.wordpress.com/2014/03/13/gelato-adds-fresh-new-look-for-2014/">
                            <input type="button" class="read_btn" value="READ MORE" />
                        </a>
                    </div>
                    <div class="footer_right">
                        <ul class="icon_footer">
                            <li>
                                <a href="http://www.facebook.com/pages/Keystone-Industries/10150125258290287">
                                    <img src='@Url.Content("~/Styles/Images/facebook_icon1.png")' alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/company/keystone-industries?trk=cp_followed_name_keystone-industries">
                                    <img src='@Url.Content("~/Styles/Images/linkedin_icon.png")' alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/#%21/keystoneind">
                                    <img src='@Url.Content("~/Styles/Images/twitter_icon1.png")' alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="http://www.keystoneind.com/rss.xml">
                                    <img src='@Url.Content("~/Styles/Images/rss_icon.png")' alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="mailto:Customerservice@keystoneind.com?Subject=Hello%20again">
                                    <img src='@Url.Content("~/Styles/Images/mail_icon.png")' alt="" />
                                </a>
                            </li>
                        </ul>
                        <div class="power_by">
                            <div class="power">Powered by: GT Marketing, Ltd.</div>
                            <h1 class="logo_gt">
                                <a href="http://gtmarketingltd.com/">
                                    <img src='@Url.Content("~/Styles/Images/GT_logo.png")' alt="" />
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last_footer">
        <div class="all_part_footer">
            <div class="left_part">
                <ul>
                    <li><a href="http://www.keystoneind.com/en/about-us">About Us</a></li>
                    <li><a>|</a></li>
                    <li><a href="http://www.keystoneind.com/en/product-categories">Product Categories</a></li>
                    <li><a>|</a></li>
                    <li><a href="http://www.keystoneind.com/en/learning-center">Learning Center</a></li>
                    <li><a>|</a></li>
                    <li><a href="http://www.keystoneind.com/en/news">News</a></li>
                    <li><a>|</a></li>
                    <li><a href="http://www.keystoneind.com/en/events">Events</a></li>
                    <li><a>|</a></li>
                    <li><a href="http://www.keystoneind.com/en/msds">MSDS</a></li>
                    <li><a>|</a></li>
                    <li><a href="http://www.keystoneind.com/en/contact_us">Contact Us</a></li>
                </ul>
            </div>

            <div class="right_part_copy">©2014 Keystone Industries. All Rights Reserved.</div>
        </div>
    </div>

    <div id="timeout-dialog" style="display:none;">
        <p class="confirmation">
            @Html.Raw(string.Format("You will be logged off in {0} seconds.",
                "<span id=\"timeout-dialog-countdown\" style=\"font-weight: bold\"></span>"))
            <br />
            Do you want to continue your session?
        </p>
    </div>
</body>

</html>
