@using Keystone.Web.Models
@model List<OrderItemModel>

@foreach (OrderItemModel item in Model)
{
    <div class="popup-item-row-container" id="OrderItem_@item.OrderItemIdentifier">
        <div class="item-template-image">
            <img width="100" src='@Url.Content(item.DisplayUrl)' alt="" />
        </div>
        <div class="item-template-detail">
            <div class="item-template-detail-row" style="color: #0b748f">
                @item.Template.ToString()
            </div>
            <div class="item-template-detail-row">
                <ul>
                    @foreach (string itemDesc in item.Template.TemplateDesc.Split('#'))
                    {
                        <li>@itemDesc</li>
                    }
                </ul>
            </div>
            <div class="item-template-detail-row">
                <strong>Quantity : <i id="OrderItem_Quantity_@item.OrderItemIdentifier">@item.Quantity</i></strong>
            </div>
            <div class="item-template-detail-row">
                <strong>Price : <i id="OrderItem_Price_@item.OrderItemIdentifier">@item.Price.ToString("C")</i></strong>
            </div>
            <div class="item-template-detail-row">

            </div>
        </div>
    </div>
}