@using Keystone.Web.Models
@using Keystone.Web.Utilities
@model List<DraftModel>

@foreach (DraftModel item in Model)
{
    string savedDraftUrl = Url.Action("NullifySessionStorage", "Editor", new { draftId = item.DraftId });

    <div class="popup-item-row-container" id="draft_@(Model.IndexOf(item)+1)">
        <div class="item-template-image">
            <img width="100" src='@Url.Content(item.DraftPages.FirstOrDefault().DraftPreviewUrl)' alt="" />
        </div>
        <div class="item-template-detail">
            <div class="item-template-detail-row">
                <strong>Draft Name: <i>@item.DraftName</i></strong>
            </div>
            <div class="item-template-detail-row" style="color: #0b748f">
                @item.Template.ToString()
            </div>
            <div class="item-template-detail-row">
                <ul>
                    @foreach (string itemDesc in item.Template.TemplateDesc.Split('#'))
                    {
                        <li>@itemDesc</li>
                    }
                </ul>
            </div>
            <div class="item-template-detail-row" style="margin-top:5px;">
                <div class="button" onclick="javascript: window.location.href = '@savedDraftUrl';">
                    Open To Edit
                </div>
                <div class="button" onclick="javascript: DeleteDraft(@item.DraftId,'#draft_@(Model.IndexOf(item)+1)');">
                    Delete Draft
                </div>
            </div>
        </div>
    </div>
}