@using Keystone.Web.Models
@model TemplateModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table style="background-color:#323232;margin:0 auto;" border="0" width="778">
        <tbody>
            <tr>
                <td>
                    <div style="float:left;width:282px;height:55px;margin:14px 0 12px 7px;">
                        <a href="#">
                            <img src="@System.Configuration.ConfigurationManager.AppSettings["DomainName"]/Styles/Images/logo.png" alt="" style="border:none;" height="55" width="282" />
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="background-color:#fff;width:759px;min-height:20px;float:left;margin-left:7px;margin-bottom:7px;">
                    <table style="background-color:#dfdfdf;border-top:3px solid #393939;margin:12px;" border="0" width="734">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="margin:20px 20px 10px 20px;" border="0" width="682">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-weight:900;font-size:28px;color:#515151;width:682px;float:left;border-bottom:1px solid #989898;">
                                                        @string.Format("Draft Image [{0} ({1:0.0}\" - {1:0}\"]", Model.TemplateTitle, Model.TemplateWidth, Model.TemplateHeight)
                                                    </div>
                                                    <div style="font-family:Arial, Helvetica, sans-serif;color:#515151;font-size:14px;line-height:25px;margin-top:10px;float:left;">
                                                        <strong>Hello @TempData["Recipient"].ToString()!</strong>
                                                        <br />@TempData["Comment"].ToString()
                                                        <br />Thank you
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background-color:#d7d7d7;margin:0 0 14px 0;width:682px;float:left;">
                                                    <div style="width:669px;background-color:#e4e4e4;float:left;margin:5px;">
                                                        <div style="width:648px;min-height:20px;float:left;margin:5px 10px;">
                                                            <div style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-weight:900;font-size:21px;color:#515151;width:648px;float:left;">
                                                                Merchant:  Keystone
                                                            </div>
                                                            <div style="width:648px;float:left;background-color:#d3d3d3;height:32px;margin:5px 0;">
                                                                <div style="width:125px;min-height:20px;float:left;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;font-weight:900;font-size:15px;color:#606060;margin-left:5px;margin-top:6px;">
                                                                    Item Title
                                                                </div>
                                                            </div>
                                                            <div style="width:648px;min-height:20px;float:left;margin:5px 0;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#00a9d4;">
                                                                @string.Format("{0} ({1:0.0}\" - {1:0}\")", Model.TemplateTitle, Model.TemplateWidth, Model.TemplateHeight)
                                                            </div>
                                                            <div style="width:100%;min-height:20px;float:left;margin:5px 0;border-bottom:1px solid #989898;padding-bottom:10px;">
                                                                <div style="width:100%;min-height:20px;float:left;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:12px;color:#010101;">
                                                                    <img src='@TempData["SampleImage"].ToString()' alt="" style="border:none;" height="89" width="114" />
                                                                    <div style="width:81%;min-height:20px;float:right;">
                                                                        <ul>
                                                                            @foreach (var item in Model.TemplateDesc.Split('#'))
                                                                            {
                                                                                <li>@item.ToString()</li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>