@using System.Web.Optimization;
@using Keystone.Web.Utilities;
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section PageScript{
    @if (OptimizationExtensions.IsJsMinify)
    {
        <script type="text/javascript" src='@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/Knockout")'></script>
        <script type="text/javascript" src='@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/ShoppingCart")'></script>
    }
    else
    {
        @Scripts.Render("~/Scripts/Knockout")
        @Scripts.Render("~/Scripts/ShoppingCart")
    }
    <script type="text/javascript">
        @(Html.JsMinify(@<text>
        $(document).ready(function () {
            try {
                $('#disclaimer').flash();
            } catch (ex) {
                console.log(ex);
            }
        });
        </text>))
    </script>
}
@Html.Hidden("OrderData", (object)ViewBag.SavedOrder)
@Html.Hidden("OrderId", ViewBag.OrderId == null ? 0 : (int)ViewBag.OrderId)
@Html.Hidden("PromoCodeId", ViewBag.PromoCodeId == null ? 0 : (int)ViewBag.PromoCodeId)
@Html.Hidden("DiscountAmount", ViewBag.DiscountAmount == null ? 0 : (int)ViewBag.DiscountAmount)
@Html.Hidden("ErrorMessage", (object)ViewBag.Error)

<div class="body_part_inner" id="page-container">
    @Html.Partial("_NavBar")

    <div class="print_total">
        <h1 class="title3">
            <img src='@Url.Content("~/Styles/Images/shopping_icon.png")' alt="" />Shopping Cart
        </h1>
        <a href='@Url.Action("SelectedIndex", "PriceSummary", new { templateid = 1 })'>
            <input type="button" class="rup_checkout" style="margin-left: 32px;" value="Continue Shopping">
        </a>
        @Html.Partial("_StatusNavigation", new ViewDataDictionary { { "Page", "ShoppingCart" } })
        <div class="total_cart" id="cart_container">
            <div class="left_contshop">
                <div class="top_header">
                    <div class="first_cont">Product Details </div>
                    <div class="first_cont2">Quantity  </div>
                </div>
                <div class="middle_portion" id="item-collection" style="margin: 0; padding: 0; overflow: inherit; width: 100%; max-height: none; background-color: #cdcccc;"
                     data-bind="foreach: OrderItems">
                    @Html.Partial("_OrderItems")
                </div>
                <p class="note">*For International Orders - please call or email us</p>
                <br />
                <p id="disclaimer" style="width:100%;">
                    Disclaimer: Please review your order carefully. Once an order is submitted, it goes into production immediately and cannot be changed or canceled. Thank you.
                </p>
            </div>
            <div class="right_shop">
                <div class="right_middle">
                    <div class="heading">Cart Summary</div>
                    <p class="cart_desc">Do you have a gift certificate or gift code? Add it here </p>
                    <div class="apply">
                        <input type="text" class="field_apply" id="PromoCode" value="@(((object)ViewBag.PromoCodeValue).AsString())" />
                        <input type="button" class="apply_btn" value="Apply" onclick="GetPromoDiscount($('#PromoCode').val())" />
                    </div>
                    <p class="cart_desc2">*Not valid with any other discount or promotion </p>
                    <div class="ruppes">
                        <div class="total_rupe">
                            <div class="left_ruppe">Order subtotal</div>
                            <div class="right_rupe" id="subtotal" data-bind="text: accounting.formatMoney($data.SubTotal())"></div>
                            <div class="separat"></div>
                        </div>
                        <div class="total_rupe">
                            <div class="left_ruppe">Discount Total</div>
                            <div class="right_rupe" id="discount" data-bind="text: accounting.formatMoney($data.DiscountAmount())"></div>
                        </div>
                        <div class="total_rupe">
                            <div class="left_ruppe">Estimated Total</div>
                            <div class="right_rupe" id="grandTotal" data-bind="text: accounting.formatMoney($data.TotalAmount())"></div>
                        </div>
                    </div>
                    <a href="javascript:InsertOrder('@Url.Action("index", "Payment" )');">
                        <input type="button" class="rup_checkout" value="Proceed to Checkout" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
