@using Keystone.Web.Models
@{
    List<DraftPagesModel> draftImages = (List<DraftPagesModel>)ViewBag.DraftImages;
}
<div id="myModal3" class="reveal-modal">
    <h1 class="title2">Here's how it will look if you proceed without editing</h1>
    <p id="disclaimer-watermark" style="text-align:center;">
        Please note that the watermark "Keystone" image which is displayed on this preview will NOT appear on your final printed product.
    </p>
    <div class="total_part_lightbox">
        @Html.Partial("_TemplatePageNavigatorOnClient", draftImages)
        <h5 class="green">Would you like to continue editing before ordering?</h5>
        <div class="other_nav">
            <ul>
                <li>
                    <a id="lnkPreviewFullScreen" href="#">Fullscreen Preview</a>
                </li>
                <li><a href="#">|</a></li>
                <li>
                    <div class="popup-cotainer" id="share-template">
                        <div class="popup-title">Share draft</div>
                        <div class="popup-content">
                            @using (Ajax.BeginForm("ShareDraft", "Draft", null,
                                new AjaxOptions { OnSuccess = "ShareDraftSuccessCallback", OnBegin = "ShareDraftBeginCallback", OnComplete = "ShareDraftCompletionCallback" },
                                new { id = "frmShareDraft" }))
                            {
                                @Html.TextBox("recipient", "", new { @class = "gradient_effect", placeholder = "Recipient" })
                                @Html.TextBox("emailId", "", new { @class = "gradient_effect", placeholder = "Email Id" })
                                <i class="note">**Use ";" or "," for multiple email id</i>
                                @Html.TextArea("comment", "", new { @class = "gradient_effect", placeholder = "Comment" })
                                foreach (var item in draftImages)
                                {
                                    @Html.Hidden("imagePaths", item.DraftPreviewUrl.ToString());
                                }
                                @Html.Hidden("templateId", (object)ViewBag.TemplateId);
                            }
                        </div>
                        <div class="popup-navigation">
                            <div class="toolbar-button type6 dt-proceed-button" style="margin-right:10px;" id="btn_text_done">
                                <div class="button-text" onclick="ShareDraft();">Share</div>
                            </div>
                            <div class="toolbar-button type6 dt-base-gradient" id="btn_text_remove">
                                <div class="button-text" onclick="$('#share-template').hide();">Close</div>
                            </div>
                        </div>
                        <div class="popup-arrow-down"></div>
                    </div>

                    <a id="lnkShare" href="javascript:void(0);" onclick="ShowShareWindow();">Share</a>
                </li>
                <li><a href="#">|</a></li>
                <li>
                    <a id="lnkPrint" href="#">Print</a>
                </li>
            </ul>


        </div>
        <div class="final_link">
            <a href="javascript:modal.close();">
                <input type="button" class="final_btn1" value="Continue Editing" />
            </a>
            <a href="javascript:ContinueAndSave();">
                <input type="button" class="final_btn1" value="Save and Order" />
            </a>
        </div>
    </div>
</div>