@using Keystone.Web.Models
@model DraftModel
<div id="myModal3" class="reveal-modal">
    <h1 class="title2">@Model.Template.ToString()</h1>
    <div class="total_part_lightbox">
        @Html.Partial("_TemplatePageNavigatorOnClient", Model.DraftPages)
        <div class="other_nav" style="margin-top: 20px;">
            <ul>
                <li>
                    <a id="lnkPreviewFullScreen" href="#">Fullscreen Preview</a>
                </li>
                <li><a href="#">|</a></li>
                <li>
                    <div class="popup-cotainer" id="share-template">
                        <div class="popup-title">Share draft</div>
                        <div class="popup-content">
                            @using (Ajax.BeginForm("ShareDraft", "Draft", null,
                                new AjaxOptions
                                {
                                    OnSuccess = "ShareOrderItemSuccessCallback",
                                    OnBegin = "ShareOrderItemBeginCallback",
                                    OnComplete = "ShareOrderItemCompletionCallback"
                                },
                                new { id = "frmShareOrderItem" }))
                            {
                                @Html.TextBox("recipient", "", new { @class = "gradient_effect", placeholder = "Recipient" })
                                @Html.TextBox("emailId", "", new { @class = "gradient_effect", placeholder = "Email Id" })
                                @Html.TextArea("comment", "", new { @class = "gradient_effect", placeholder = "Comment" })
                                foreach (var item in Model.DraftPages)
                                {
                                    @Html.Hidden("imagePaths", item.DraftPreviewUrl.ToString());
                                }
                                @Html.Hidden("templateId", Model.TemplateId);
                            }
                        </div>
                        <div class="popup-navigation">
                            <div class="button-text" onclick="ShareDraft();">Share</div>
                            <div class="button-text" onclick="$('#share-template').hide();">Close</div>
                        </div>
                        <div class="popup-arrow-down"></div>
                    </div>

                    <a id="lnkShare" href="javascript:void(0);" onclick="ShowShareWindow();">Share</a>
                </li>
                <li><a href="#">|</a></li>
                <li>
                    <a id="lnkPrint" href="#">Print</a>
                </li>
            </ul>
        </div>
    </div>
</div>